*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background-color: #f4f4f4;
}
header{
    height: auto;
    width: 100%;
}

/*Navigation Bar Goes Here*/
.navbar{
    height: 3em;
    width: 100%;
    padding: 2em 10em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    background-color: #251749;
    
}

.logo{
    width: auto;
    height: 2rem;
}

.navbar_nav{
    width: 70%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navitem{
    list-style: none;
    text-decoration: none;
    color: #fff;

    font-size: 1rem;
}

.banner>img{
    height: auto;
    width: 100%;
}


/*Main Setting Here*/
main{
    width: 100%;
    padding: 0.2em 10em;
}
.head2{
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #251749;
}

.n_h{
    color: #fff;
    text-indent: 2rem;
    font-weight: 500;
    font-size: 20px;
}

/*News Setting Goes Here*/
.news_content{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0px 0px 28px -19px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 28px -19px rgba(0, 0, 0, 0.6);
    gap: 0.3%;
    padding: 1rem 0 0 0;
}

.news_items{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: auto;
    padding: 1rem 1rem;
    
}

.news_img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

.news_tag{
    font-size: 10px;
    color: #DC0000;
}

.news_head{
    font-size: 16px;
    text-align: justify;

}

.news_txt{
    font-size: 12px;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 1rem;
}

.read_news{
    padding: 0.5em 1em;
    height: 40px;
    width: 100%;

    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #DC0000;
}

.read_news:hover{
    border: 2px solid#DC0000;
    color: #DC0000;
    background-color: #fff;
}

/*Latest News start here*/

.contentent{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #f4f4f4;

    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.news_content2{
    display: flex;
    flex-direction: column;
    gap: 0.3%;
}

.news_items2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
    background-color: #fff;
    
}
.head3{

    height: 3em;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #251749;
}

.col_img{
    padding-right: 1rem;
    width: 20%;
    height: auto;
    border-radius: 4px;
}


.head4{

    height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #251749;
}

aside{
    height: 70%;
    width: 54%;
    background-color: #fff;
}

.img_ad{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad_img{
    margin: 1rem;
    height: auto;
    width: 90%;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: #251749;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .navbar{
        height: 30px;
        width: auto;
        padding: 15px 10px;
    
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        background-color: #251749;
    }
    .logo{
        width: 20%;
        height: auto;
    }

    .navitem{
        font-size: 6.5px;
    }


    main{
        width: 100%;
        padding: 10px;
        display: block;  
    }

    .head2{
        height: auto;
        width: 100%;
    }

    .n_h{
        font-size: 12px;
        padding: 10px 0 10px 0;
        font-weight: bold;
    }
    
    .read_news{
        padding: 5px 10px;
        height: 30px;
        width: 100%;
        color: #fff;
        font-size: 12px;
    }

    .news_content, .news_content2, .contentent{
        width: 100%;
        display:block;
    }

    .news_items{
        width: 100%;
        display: block;
    }

    .new_items2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .news_txt, .news_head{
        font-size: 60%;
    }

    .col_img{
        width: 45%;
        height: fit-content;
    }

    aside{
        margin-top: 10%;
        width: 100%;
    }

    footer{
        height: 40px;
        width: 100%;
        font-size: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 980px){
    .navbar{
        height: 6px;
        width: auto;
        padding: 30px 20px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: #251749;
    }
    .logo{
        width: 15%;
        height: auto;
    }

    .navitem{
        font-size: 10px;
    }

    main{
        width: 100%;
        padding: 30px 20px;
    }

    .news_txt, .news_head{
        font-size: 60%;
    }
    
    .n_h{
        font-size: 12px;
    }

    footer{
        font-size: 8px;
    }    
}