

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body{
    height: auto;
    width: 1440px;
}

header{
    height: 10rem;
    padding: 10px 10px;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img{
    width: 4em;
    height: auto;
    border-radius: 100%;
}

.cta{
    display: flex;
    gap: 2rem;
}

.log, .sign{
    height: 3rem;
    width: 6rem;
    color: #fff;
    background-color: #0093dd;
    border: none;
    border-radius: 2px;
}

.log:hover, .sign:hover{
    color: #0093dd;
    background-color: transparent;
    border: 2px solid #0093dd;
    border-radius: 2px;
}